@font-face {
    font-family: 'BinggraeMelona';
    src: url('https://s3.ru.hn/fonts/BinggraeMelona.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'BinggraeMelona'; /* 'Tanugo'; */
    src: url("https://s3.ru.hn/fonts/umeboshi_.woff2") format('woff2');
    unicode-range: U+4e00-9fbf, U+3040-309f, U+30A0-30FF;
}