@font-face {
  font-family: 'BinggraeMelona';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BinggraeMelona.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'BinggraeMelona', serif;
}