@import url('static-folder/css/BinggraeMelona.css');

@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'BinggraeMelona', sans-serif;
}

html.__page-view, body.__page-view {
  width: 100%;
  height: 100%;
}