@import url('/css/BinggraeMelona.css');

body {
  padding: 1rem;
}

img {
  max-width: 100% !important;
  height: auto !important;
}

p {
  margin: 0.25rem 0 !important;
}

a {
  color: rgb(56, 189, 248);
  text-decoration-line: none;
}

* {
  font-family: BinggraeMelona,sans-serif;
}